.investorCardPaper{
    width:100%;
    box-shadow: 0px 0px 0px 0px;
    background-color: #22252f
}
.headingText{
    text-align: left;
    font-weight: 300;
    margin:0;
    color:white;
    max-width:100%;
}
.labelText{
    text-align:left;
    font-weight: 300;
    margin:0;
    font-size: 12px;
    color:white;
    max-width: 100%;
}