    .InvPaper {
        max-height: 500px;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
    }

    .InvPaperTable {
        max-height: 500px;
        width: 100%;
        margin-top: 20px;
    }

    .InvPaper button {
        float: right;
    }

    .InvButtonsGroup {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .InvButtonsGroup button {
        width: 180px;
        color: #fff;
        background-color: #5e6779;
    }

    .InvButtonsGroup button:hover {
        width: 180px;
        color: #fff;
        background-color: #666666;
    }

    .InvCardsGroup {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        margin-top: 20px;
    }