.hideOverflowV{
    overflow: hidden;
}

.VolatilityGrid{
    flex-grow: 1;
    margin: 0;
}
.VolatilityGrid p{
    margin-left: 10px;
}
.VolatilityPaper{
    width: 100%;
    padding:10px;
    margin-top:10px;
}

.VolatilityPaper button{
    float: right;
    margin-right: 20px;
    color: #FFF;
    background-color:#5e6778;
}
.VolatilityPaper h5{
    margin-left: 10px;
}
.chartAverages{
    margin-left:10px;

}
.chartAverages p{
    display: inline-flex;
    margin-left: 30px;
    align-items: center;
}