ul[class^="MuiList-root"] {
  padding: 0;
}

.listSelect>div {
  border-right: 1px solid #F6F6F6;
}

.listSelect>div>div {
  width: 200px;
  height: 60px;
  padding: 0 32px;
  color: #F6F6F6;
}

.listSelect>div>div>div {
  padding: 7px 25px;
  border-bottom: none;
}

.listSelect>div>svg {
  padding-right: 10px;
  fill: #F6F6F6;
  top: 18px;
}