/* ul:has(> li.headerListSelect) {
  background-color: green;
} */

ul[class^="MuiList-root"] {
  padding: 0;
}

.headerListSelect {
  margin-top: 16px;
  margin-bottom: 16px;
}

.headerListSelect>div {
  border-right: 1px solid #F6F6F6;
}

.headerListSelect>div:before {
  display: none;
}

.headerListSelect>div:after {
  display: none;
}

.headerListSelect>div>div {
  width: 200px;
  height: 45px;
  padding-left: 32px;
  color: #F6F6F6;
  /* background-color: #22252f; */
}

.headerListSelect>div>svg {
  padding-right: 10px;
  fill: #F6F6F6;
  top: 18px;
}
/* 
.MuiInput-inkbar-57:after {
  display: none;
}

.MuiInput-underline-61:before {
  display: none;
} */