.cls-1{
    fill: none;
    stroke: #FFF;
    stroke-miterlimit: 10;
}
.cls-2{
    fill: #FFF;
}

/* STYLE for the LOGO colors */
.cls-3{fill:url(#linear-gradient)}
.cls-4{fill:url(#linear-gradient-2)}
.cls-5{fill:url(#linear-gradient-3)}
.cls-6{fill:url(#linear-gradient-4)}
/*  */

/* STYLE for the LOGO TEXT */
.cls-7{fill:#fff;}
/*  */