.AMGrid{
    flex-grow: 1;
    margin: 0;
}

.AMPaper{
    max-height:500px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
textarea{
    border-bottom: 2px solid black;
}

.AMPaper button{
    float:right;
}
